.video1 {
  background-color: #ffffff;
  height: 10%;
  width: 10%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.menu {
  background-color: #ffffff;
}

.content {
  position: relative;
  z-index: -1;
  padding: 20px;
}
.video1 {
  background-color: #ffffff;
  height: 10%;
  width: 10%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #000000;
  /* color: #ff0000; */
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #ffffff;
}

#contact-form {
  padding-top: 100rem;
  margin: 0 auto;
  width: 10%;
  text-align: center;
}
.background-contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.background-contact img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}
.video1 {
  background-color: #ffffff;
  height: 10%;
  width: 10%;
}

.menu {
  background-color: #ffffff;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
}

.nav-bar li {
  margin-right: 20px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.aboutus-background-gif {
  background-image: url("https://ca-times.brightspotcdn.com/dims4/default/1e50589/2147483647/strip/true/crop/2048x1270+0+0/resize/1200x744!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fd9%2Fd6%2F56fb41c649958652081d46e74042%2Fla-yir-photography-20171215-007.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutp-content {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 500px;
  margin-top: 1000px;
}

.aboutus-textcontainer {
  width: 80%;
  position: absolute;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
.section {
  height: 50vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
}

.nav-bar li {
  margin-right: 20px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar a:hover {
  text-decoration: underline;

  text-decoration: underline;
}

/* homepage style */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columnhp1 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.columnhp1 h1 {
  position: relative;
  left: 50px;
  top: 90px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 400px;
}

.columnhp1 p {
  position: relative;
  left: 50px;
  top: 90px;
  font-size: 20px;
  font-weight: thin;
  margin-bottom: 20px;
  max-width: 350px;
}

.columnhp1 img {
  border-radius: 90px;
  position: relative;
  left: 600px;
  width: 600px;
  top: -320px;
}

.columnhp2 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.columnhp2 h1 {
  position: relative;
  right: -50px;
  top: 625px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 400px;
}

.columnhp2 p {
  position: relative;
  left: 50px;
  top: 650px;
  font-size: 20px;
  font-weight: thin;
  margin-bottom: 20px;
  max-width: 350px;
}

.columnhp2 img {
  border-radius: 90px;
  position: relative;
  right: 600px;
  width: 600px;
  top: 300px;
}

.columnhp3 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.columnhp3 h1 {
  position: relative;
  right: 1225px;
  top: 1305px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 400px;
}

.columnhp3 p {
  position: relative;
  right: 1225px;
  top: 1305px;
  font-size: 18px;
  font-weight: thin;
  margin-bottom: 20px;
  max-width: 350px;
}

.columnhp3 img {
  border-radius: 140px;
  position: relative;
  right: 600px;
  width: 600px;
  top: 925px;
  padding-bottom: 75px;
}

.productbanner {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-mask-image: linear-gradient(black, black, transparent);
  mask-image: linear-gradient(black, black, transparent);
}

.columnproduct1 img {
  position: relative;
  width: 800px;
  height: 800px;
  left: 100px;
  top: -300px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.columnproduct1 h1 {
  position: relative;
  left: 1100px;
  top: 100px;
  font-size: 50px;
}

.columnproduct1 p {
  position: relative;
  left: 1100px;
  top: 300px;
  font-size: 20px;
  max-width: 500px;
  font-size: 24px;
}
  .columnproduct1 p {
    position: relative;
    left: 1100px;
    top: 300px;
    max-width: 500px;
    font-size: 24px;
  }

.columnproduct2 h1 {
  position: relative;
  left: 200px;
  top: -200px;
  font-size: 50px;
}

.columnproduct2 p {
  position: relative;
  left: 200px;
  top: -50px;
  font-size: 20px;
  max-width: 500px;
  font-size: 24px;
}
  .columnproduct2 p {
    position: relative;
    left: 200px;
    top: -50px;
    max-width: 500px;
    font-size: 24px;
  }

.columnproduct2 img {
  position: relative;
  width: 800px;
  height: 800px;
  left: 1000px;
  top: -700px;
  object-fit: cover;
  border-radius: 20px;
  object-position: center;
}

.columnproduct3 h1 {
  position: relative;
  left: 1000px;
  top: -600px;
  font-size: 50px;
  max-width: 300px;
  line-height: 50px;
}

.columnproduct3 p {
  position: relative;
  left: 1000px;
  top: -500px;
  font-size: 24px;
  max-width: 500px;
}

.columnproduct3 img {
  position: relative;
    width: 800px;
    height: 800px;
    left: 60px;
    top: -1200px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
}

.productfooter {
  position: relative;
  width: 100%;
  height: auto; /* Let the height adjust based on the content */
  top: -1000px;
  overflow: hidden; /* Hide any content that exceeds the footer height */
}

.productbannercontact1 {
  width: 100%;
  position: relative;
}

.productbannercontact2 {
  width: 100%;
}

.productbannercontact3 {
  width: 100%;
}

.container-contactform {
  position: absolute;
  top: 50%;
}

.contacttext {
  text-align: center;
}

.contacttext img {
  width: 50px;
}

.contact-form {
  position: absolute;
  margin-top: 35%;
  display: flex;
  justify-content: center;
  margin-left: 350px;
  border-radius: 20px;
  background-color: rgba(132, 129, 129, 0.25);
  width: 800px;
  height: 450px;
  z-index: 1000;
}

.contact-form input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #000;
  padding-left: 20px;
  margin-right: 10px;
  background-color: rgba(205, 197, 197, 0.241);
  font-size: 15px;
  color: white;
}

.contact-form textarea {
  width: 300px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid #000;
  padding-left: 20px;
  margin-right: 10px;
  background-color: rgba(205, 197, 197, 0.241);
  font-size: large;
  color: white;
}

.submitcontact {
  width: 100px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5%;
  padding-right: 25px;
}

.contact-bottom {
  position: absolute;
  bottom: 300px;
  margin-left: 560px;
}

.contact-bottom h3 {
  font-size: 20px;
}

.contactuptodateform {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 50px;
}

.contactuptodateform input {
  width: 150px;
  background-color: rgba(242, 242, 242, 0.04);
}

.submitsignup {
  font-size: 20px;
  width: 100px;
  color: white;
  font-weight: bold;
  background-color: rgba(242, 242, 242, 0.2);
}
