.video1{
    background-color: #ffffff;
    height: 10%;
    width: 10%;
    
}
    
body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #ffffff;
    
}

#contact-form {
    padding-top: 100rem;
    margin: 0 auto;
    width: 10%;
    text-align: center;
}
